body {
  font-family: Arial;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}
.container {
  text-align: center;
  transform: scale(1.5);
}
.rating {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 50px;
  cursor: pointer;
}
.star {
  position: relative;
  color: #ccc;
} /* full star fill */
.star.full {
  color: gold;
} /* half star */
.star.half::after {
  content: "★";
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
  color: gold;
}

#text {
  margin-top: 15px;
  font-size: 24px;
  color: chocolate;
  background: #f8f9fa;
  padding: 8px 20px;
  border-radius: 50px;
  display: inline-block;
  border: 1px solid #eee;
}